#projectsContainer {
  gap: 15vh;
}

@media (max-width: 600px) {
  #projectsContainer {
    gap: 0vh;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #projectsContainer {
    gap: 5vh;
  }
}
