.btn:hover,
.btn:focus,
.btn:active {
  background-color: inherit !important;
  border-color: inherit !important;
  color: inherit !important;
  box-shadow: none !important;
  outline: none !important;
}

.html {
  background-color: #e44d26;
  color: white;
}

.css {
  background-color: #1572b6;
  color: white;
}

.ts {
  background-color: #007acc;
  color: white;
}

.react {
  background-color: #61dafb;
  color: black;
}

.js {
  background-color: #f7df1e;
  color: black;
}

.footer {
  padding: 20px;

  text-align: center; /* Center the content */
}

.social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icons a {
  margin: 0 8px; /* Adjust space between icons */
}

.social-icon {
  width: 60px; /* Smaller size for icons */
  height: 60px; /* Maintain aspect ratio */
  transition: transform 0.3s ease; /* Smooth scaling effect */
}

.social-icon:hover {
  transform: scale(1.3); /* Slightly enlarge icon on hover */
}

@media (prefers-color-scheme: dark) {
  .body {
    background-color: #333;
    color: white;
  }
}
