/* Specific technology styles */
.html:disabled {
  background-color: #e44d26 !important;
  color: white !important;
  opacity: 1 !important;
}

.css:disabled {
  background-color: #1572b6 !important;
  color: white !important;
  opacity: 1 !important;
}

.ts:disabled {
  background-color: #007acc !important;
  color: white !important;
  opacity: 1 !important;
}

.react:disabled {
  background-color: #61dafb !important;
  color: black !important;
  border-color: white;
  opacity: 1 !important;
}

.js:disabled {
  background-color: #f7df1e !important;
  color: black !important;
  border-color: white;
  opacity: 1 !important;
}

.unity:disabled {
  background-color: black !important;
  color: white !important;
  opacity: 1 !important;
}

.cSharp:disabled {
  background-color: #68217a !important;
  color: white !important;
  opacity: 1 !important;
}

.footer {
  padding: 20px;

  text-align: center; /* Center the content */
}

.social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icons a {
  margin: 0 8px; /* Adjust space between icons */
}

.social-icon {
  width: 60px; /* Smaller size for icons */
  height: 60px; /* Maintain aspect ratio */
  transition: transform 0.3s ease; /* Smooth scaling effect */
}

.social-icon:hover {
  transform: scale(1.3); /* Slightly enlarge icon on hover */
}

@media (prefers-color-scheme: dark) {
  .body {
    background-color: #333;
    color: white;
  }
}
