.lst-kix_vuhydfhlskaz-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_vuhydfhlskaz-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_vuhydfhlskaz-5 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_sdy36gkfwr01-2 {
  list-style-type: none;
}
ul.lst-kix_j1kqs2n7kor-5 {
  list-style-type: none;
}
ul.lst-kix_sdy36gkfwr01-3 {
  list-style-type: none;
}
ul.lst-kix_j1kqs2n7kor-4 {
  list-style-type: none;
}
.lst-kix_vuhydfhlskaz-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_vuhydfhlskaz-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_sdy36gkfwr01-4 {
  list-style-type: none;
}
ul.lst-kix_j1kqs2n7kor-7 {
  list-style-type: none;
}
ul.lst-kix_sdy36gkfwr01-5 {
  list-style-type: none;
}
ul.lst-kix_j1kqs2n7kor-6 {
  list-style-type: none;
}
ul.lst-kix_j1kqs2n7kor-1 {
  list-style-type: none;
}
ul.lst-kix_j1kqs2n7kor-0 {
  list-style-type: none;
}
ul.lst-kix_sdy36gkfwr01-0 {
  list-style-type: none;
}
ul.lst-kix_j1kqs2n7kor-3 {
  list-style-type: none;
}
ul.lst-kix_sdy36gkfwr01-1 {
  list-style-type: none;
}
ul.lst-kix_j1kqs2n7kor-2 {
  list-style-type: none;
}
.lst-kix_vuhydfhlskaz-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_vuhydfhlskaz-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_vuhydfhlskaz-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_sdy36gkfwr01-6 {
  list-style-type: none;
}
ul.lst-kix_sdy36gkfwr01-7 {
  list-style-type: none;
}
ul.lst-kix_j1kqs2n7kor-8 {
  list-style-type: none;
}
ul.lst-kix_sdy36gkfwr01-8 {
  list-style-type: none;
}
.lst-kix_sdy36gkfwr01-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_sdy36gkfwr01-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_sdy36gkfwr01-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_sdy36gkfwr01-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_sdy36gkfwr01-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_sdy36gkfwr01-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_sdy36gkfwr01-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_sdy36gkfwr01-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_sdy36gkfwr01-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_j1kqs2n7kor-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_j1kqs2n7kor-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_j1kqs2n7kor-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_j1kqs2n7kor-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_j1kqs2n7kor-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_j1kqs2n7kor-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_j1kqs2n7kor-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_vuhydfhlskaz-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_j1kqs2n7kor-5 > li:before {
  content: "\0025a0   ";
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
.lst-kix_j1kqs2n7kor-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_vuhydfhlskaz-8 {
  list-style-type: none;
}
ul.lst-kix_vuhydfhlskaz-7 {
  list-style-type: none;
}
ul.lst-kix_vuhydfhlskaz-6 {
  list-style-type: none;
}
ul.lst-kix_vuhydfhlskaz-5 {
  list-style-type: none;
}
ul.lst-kix_vuhydfhlskaz-4 {
  list-style-type: none;
}
ul.lst-kix_vuhydfhlskaz-3 {
  list-style-type: none;
}
ul.lst-kix_vuhydfhlskaz-2 {
  list-style-type: none;
}
ul.lst-kix_vuhydfhlskaz-1 {
  list-style-type: none;
}
ul.lst-kix_vuhydfhlskaz-0 {
  list-style-type: none;
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c5 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  font-weight: 700;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 11pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c38 {
  margin-left: 36.3pt;
  padding-top: 0.2pt;
  text-indent: -17.4pt;
  padding-bottom: 0pt;
  line-height: 0.9087272882461548;
  text-align: left;
  margin-right: 2.9pt;
  height: 11pt;
}
.c39 {
  margin-left: 36.2pt;
  padding-top: 0pt;
  text-indent: -17.3pt;
  padding-bottom: 0pt;
  line-height: 0.908729612827301;
  text-align: left;
  margin-right: 22.8pt;
}
.c14 {
  margin-left: 36pt;
  padding-top: 0pt;
  text-indent: -17.1pt;
  padding-bottom: 0pt;
  line-height: 0.9087272882461548;
  text-align: left;
  margin-right: 9.1pt;
}
.c3 {
  margin-bottom: 1em;
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9087272882461548;
  text-align: left;
  margin-right: 7.6pt;
}
.c4 {
  margin-left: 0.1pt;
  padding-top: 0pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9087272882461548;
  text-align: left;
  margin-right: 10.6pt;
}
.c1 {
  margin-bottom: 1em;
  color: #1d1c1d;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c10 {
  margin-left: 36.3pt;
  padding-top: 0.2pt;
  text-indent: -17.4pt;
  padding-bottom: 0pt;
  line-height: 0.9087272882461548;
  text-align: left;
  margin-right: 9.2pt;
}
.c16 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9087272882461548;
  text-align: left;
  margin-right: 10.6pt;
  height: 11pt;
}
.c15 {
  margin-left: 72pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: center;
  margin-right: 126pt;
}
.c0 {
  margin-bottom: 1em;
  margin-left: 72pt;
  padding-top: 0.2pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c18 {
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-style: normal;
}
.c28 {
  -webkit-text-decoration-skip: none;
  color: #0000ff;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-style: normal;
}
.c9 {
  margin-left: 0.2pt;
  padding-top: 12.2pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
  height: 11pt;
}
.c30 {
  margin-left: 18pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9087272882461548;
  text-align: left;
  margin-right: 10.6pt;
}
.c11 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 228.1pt;
  height: 11pt;
}
.c34 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: center;
  height: 11pt;
}
.c26 {
  margin-left: 18.9pt;
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c36 {
  margin-left: 18.9pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c19 {
  margin-left: 0.2pt;
  padding-top: 12.2pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c27 {
  text-decoration-skip-ink: none;
  font-family: "Times New Roman";
  -webkit-text-decoration-skip: none;
  font-weight: 700;
  text-decoration: underline;
}
.c29 {
  margin-left: 0.5pt;
  padding-top: 11.2pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c41 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: center;
  margin-right: -0.8pt;
}
.c2 {
  font-size: 12pt;
  font-family: "Times New Roman";
  color: #1d1c1d;
  font-weight: 400;
}
.c12 {
  color: #1d1c1d;
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal;
}
.c33 {
  -webkit-text-decoration-skip: none;
  color: #1354cb;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.c13 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal;
}
.c37 {
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.c31 {
  color: #000000;
  vertical-align: baseline;
  font-size: 12pt;
  font-style: normal;
}
.c7 {
  color: #0000ff;
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal;
}
.c8 {
  font-size: 12pt;
  font-family: "Times New Roman";
  font-weight: 700;
}
.c24 {
  font-weight: 700;
  font-size: 18pt;
  font-family: "Times New Roman";
}
.c35 {
  background-color: #ffffff;
  max-width: 540pt;
  padding: 36pt 36pt 36pt 36pt;
}
.c20 {
  font-weight: 700;
  font-size: 11pt;
  font-family: "Times New Roman";
}
.c21 {
  font-weight: 400;
  font-size: 11pt;
  font-family: "Times New Roman";
}
.c6 {
  font-size: 12pt;
  font-family: "Times New Roman";
  font-weight: 400;
}
.c25 {
  padding: 0;
  margin: 0;
}
.c23 {
  color: inherit;
  text-decoration: inherit;
}
.c22 {
  margin-left: 0.1pt;
}
.c40 {
  height: 11pt;
}
.c32 {
  color: #0000ff;
}
.c17 {
  color: #1d1c1d;
}
.title {
  padding-top: 24pt;
  color: #000000;
  font-weight: 700;
  font-size: 36pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 18pt;
  color: #666666;
  font-size: 24pt;
  padding-bottom: 4pt;
  font-family: "Georgia";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}

@media (max-width: 600px) {
  #resume-container {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  #space {
    display: none;
  }
}
