.btn:hover,
.btn:focus,
.btn:active {
  background-color: inherit !important;
  border-color: inherit !important;
  color: inherit !important;
  box-shadow: none !important;
  outline: none !important;
}

.html {
  background-color: #e44d26;
  color: white;
}

.css {
  background-color: #1572b6;
  color: white;
}

.ts {
  background-color: #007acc;
  color: white;
}

.react {
  background-color: #61dafb;
  color: black;
}

.js {
  background-color: #f7df1e;
  color: black;
}

@media (prefers-color-scheme: dark) {
  .body {
    background-color: #333;
    color: white;
  }
}
